/* COLOR */
/* BREAKPOINTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
header, .reservation__city, .reservation__content, .reservation__content .buttonAcceuil, .fonctionnality__buttons--button, .restaurants__content, .spinnerLoader, .menus__title, .buttonMenus, #footer li:nth-child(2), #footer li:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*@keyframes boxReverse{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(80px);
    }
}
@keyframes box{
    from {
        transform: translateX(80px);
    }
    to {
        transform: translateX(0);
    }
}
}
*/
/* Coeur */
@-webkit-keyframes fil {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 1;
  }
}
@keyframes fil {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 1;
  }
}

@-webkit-keyframes fondu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fondu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__log,
.footer__logo {
  font-family: 'Shrikhand', cursive;
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 2px;
  font-size: 14px;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 63%;
     object-position: 50% 63%;
}

button {
  outline: none;
}

li {
  list-style: none;
}

i {
  font-size: 20px;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.container-spinner {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  z-index: 99;
  position: fixed;
  -webkit-animation: loader-end 2s 2s both;
          animation: loader-end 2s 2s both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes loader-end {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}

@keyframes loader-end {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}

.loading-spinner {
  position: fixed;
  z-index: 99999;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #99E2D0;
  background: white;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 5s forwards;
          animation: spin 5s forwards;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

.heart {
  cursor: pointer;
}

.heart .fas.fa-heart.first {
  position: absolute;
  -webkit-text-stroke: black 1px;
  color: transparent;
  font-size: 25px;
}

.heart .fas.fa-heart.second {
  position: relative;
  color: #9356DC;
  font-size: 26px;
  opacity: 0;
}

.heart .fas.fa-heart.second:hover {
  -webkit-animation: fil 1s ease-in-out forwards;
          animation: fil 1s ease-in-out forwards;
}

header {
  height: 50px;
  margin-bottom: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .return {
  margin-left: 1rem;
}

header h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  margin: auto;
}

.reservation__city {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #d6d6d6;
  height: 40px;
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.5);
}

.reservation__city input {
  background: #d6d6d6;
  border: none;
  text-align: center;
  width: 30%;
}

.reservation__city input::-webkit-input-placeholder {
  font-weight: 600;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.reservation__city input:-ms-input-placeholder {
  font-weight: 600;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.reservation__city input::-ms-input-placeholder {
  font-weight: 600;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.reservation__city input::placeholder {
  font-weight: 600;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.reservation i {
  margin-right: 10px;
}

.reservation__content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #f2f2f2;
  padding: 30px;
}

.reservation__content .buttonAcceuil {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  border-radius: 30px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  -webkit-box-shadow: 1px 4px 14px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 4px 14px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  width: 200px;
  height: 45px;
}

.reservation__content .buttonAcceuil:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .reservation__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fonctionnality {
  padding: 10px;
  margin: 30px 0 30px 0;
}

@media (min-width: 768px) {
  .fonctionnality__buttons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

.fonctionnality__buttons--button {
  margin: 20px 0 20px 0;
  border-radius: 10px;
  color: black;
  background: #f2f2f2;
  border: none;
  -webkit-box-shadow: 1px 6px 14px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 6px 14px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 100%;
  height: 60px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.fonctionnality__buttons--button span {
  position: relative;
  right: 5px;
  background: #9356DC;
  color: #fff;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  text-align: center;
}

.fonctionnality__buttons--button i.fa-store {
  color: #9356DC;
}

.fonctionnality__buttons--button .fas {
  -webkit-transition: -webkit-transform 900ms ease;
  transition: -webkit-transform 900ms ease;
  transition: transform 900ms ease;
  transition: transform 900ms ease, -webkit-transform 900ms ease;
  color: #d6d6d6;
}

.fonctionnality__buttons--button:hover .fas {
  color: #9356DC;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.fonctionnality__buttons--button > * {
  border: none;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .fonctionnality__buttons--button {
    height: 150px;
  }
}

.restaurants {
  background: #f2f2f2;
  padding: 50px 10px 50px 10px;
}

.restaurants__title {
  margin-bottom: 20px;
}

.restaurants__card {
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  color: black;
  background: #fff;
  -webkit-box-shadow: 1px 6px 14px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 6px 14px 1px rgba(0, 0, 0, 0.2);
}

.restaurants__card img {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0 0;
}

.restaurants__popup {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 80%;
  left: 70%;
  color: green;
  background: #99E2D0;
  padding: 8px;
}

.restaurants__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px 15px 10px;
}

.restaurants__content--block1 .restaurants__content--titre {
  margin-bottom: 4px;
}

.reservation .reservation__content p {
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.spinnerLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
}

.spinnerLoader div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.spinnerLoader div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.spinnerLoader div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.spinnerLoader div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .background__image img {
    border-radius: 50%;
  }
}

.menus {
  position: relative;
  margin-top: -30px;
  background: #f2f2f2;
  border-radius: 30px 30px 0 0;
  padding: 1rem;
}

.menus__title {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px 10px 0;
}

.menus__title h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
}

.menus__title .fas.fa-heart {
  font-size: 30px;
  cursor: pointer;
}

.typeMenu p {
  padding: 25px 0 5px 0;
}

.typeMenu__greenLine {
  border: #99E2D0 2px solid;
  width: 2rem;
}

.menusCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: pointer;
  background: white;
  margin: 1rem 0 1rem 0;
  max-width: 100%;
  padding-left: 10px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 8px #dedede;
          box-shadow: 0px 2px 8px #dedede;
  font-size: 14px;
  -webkit-animation: fondu 2s ease;
          animation: fondu 2s ease;
}

.menusCard__content--title {
  display: inline;
  width: 100%;
  z-index: 1;
}

.menusCard__content--title h3 {
  margin-bottom: 0.5rem;
}

.menusCard__content--title h3, .menusCard__content--title p {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menusCard__animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menusCard__animation--price {
  font-weight: 800;
  margin-right: 0.3rem;
  top: 42px;
  position: relative;
}

.menusCard__animation--valid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #99E2D0;
  background: #99E2D0;
  height: 100%;
  width: 60px;
  font-weight: 800;
  overflow: hidden;
  z-index: 2;
  position: relative;
  margin-right: -3.8rem;
  -webkit-transition: margin-right 500ms ease-in-out;
  transition: margin-right 500ms ease-in-out;
}

.menusCard__animation--valid .fa-check-circle {
  text-align: center;
  padding: 1.5rem;
  color: white;
  height: 100%;
}

.menusCard:hover .menusCard__animation--valid {
  margin-right: 0;
}

.menusCard:not(:hover) {
  overflow: hidden;
}

.menusCard .menusCard__animation--valid span {
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.menusCard:hover .menusCard__animation--valid span {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}

.menusCard .menusCard__animation--valid span i {
  font-size: 1.5rem;
}

.buttonMenus {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0 50px 0;
}

.buttonMenus .buttonMenus__btn {
  border-radius: 30px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  -webkit-box-shadow: 1px 6px 14px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 6px 14px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 150px;
  height: 50px;
}

.buttonMenus .buttonMenus__btn:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.3);
}

#footer {
  background: #292229;
  color: white;
  padding: 20px;
}

#footer li {
  margin: 5px;
}

#footer li:first-child {
  margin-bottom: 20px;
}

#footer li i {
  margin-right: 5px;
}

#footer ul .footer__text--i i {
  margin-right: 10px;
}

#footer ul .footer__text--i:nth-child(3) i {
  font-size: 15px;
}

@media (max-width: 330px) {
  .lineClamp--2 h3, .lineClamp--2 p {
    -webkit-line-clamp: 2;
  }
}

@media (min-width: 768px) {
  .restaurants__popup {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 80%;
    left: 78%;
  }
  .main {
    padding: 0 2rem 0 2rem;
  }
  .background__image img {
    height: 350px;
    width: 350px;
  }
  .background__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 0 5rem 0;
  }
  .restaurants__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media (min-width: 768px) {
  .container__menusCards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
}

@media (min-width: 1100px) {
  .wrapper {
    padding: 0 2rem 0 2rem;
  }
  .restaurants__popup {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 80%;
    left: 83%;
  }
  .container__menusCards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
  .menus {
    background: none;
  }
}

@media (min-width: 1440px) {
  .restaurants__popup {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 80%;
    left: 78%;
  }
  .restaurants__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .background__image img {
    height: 450px;
    width: 450px;
  }
  .container__menusCards {
    grid-gap: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */