@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./utils/keyframes";
@import "./base/base";
@import "./components/loadingSpinner";
@import "./components/heart";
@import "./layouts/header";
@import "./pages/accueil";
@import "./pages/menu";
@import "./layouts/footer";
@import "./utils/mediaQueries";
