.heart {
    cursor: pointer;
    & .fas.fa-heart.first {
        position: absolute;
        // -webkit-text-stroke: black 1px;
        // color: transparent;
        /* https://www.codesdope.com/blog/article/adding-outline-to-text-using-css/ */
        text-shadow: -0.7px 0.7px 0 #000,
				  0.7px 0.7px 0 #000,
				 0.7px -0.7px 0 #000,
				-0.7px -0.7px 0 #000;
        color: $colorContainer;
        font-size: 25px;
    }
    & .fas.fa-heart.second {
        position: relative;
        color: $colorPrimary;
        //-webkit-text-fill-color: red;
        font-size: 26px;
        opacity: 0;
        &:hover {
            animation: fil 1s ease-in-out forwards;
        }
    }
}
