.background__image {
  & img {
    height: 250px;
    width: 100%;
  }
}

.menus {
  position: relative;
  margin-top: -20px;
  background: $colorContainer;
  border-radius: 30px 30px 0 0;
  padding: 1rem;
  &__title {
    @extend %flexbox;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    & h2 {
      font-family: 'Shrikhand', cursive;
      font-size: 25px;
    }
    & .fas.fa-heart {
      font-size: 30px;
      cursor: pointer;
    }
  }
}

.typeMenu {
  p {
    padding: 25px 0 5px 0;
  }
  &__greenLine {
    border: $colorTertiary 2px solid;
    width: 2rem;
  }
}
.section__menusCard{
}

.menusCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  background: white;
  margin: 1rem 0 1rem 0;
  max-width: 100%;
  padding-left: 10px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px #dedede;
  font-size: 14px;
  animation: fondu 3s ease-in-out forwards;
  &__content--title{
    display: inline;
    width: 100%;
    z-index: 1;
    & h3 {
        margin-bottom: 0.5rem;
    }
    & h3, p{
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  }
  &__animation {
      display: flex;
      justify-content: space-evenly;
      &--price{
          font-weight: 800;
          margin-right: 0.3rem;
          top: 42px;
          position: relative;
      }
      &--valid {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid $colorTertiary;
        background: $colorTertiary;
        height: 100%;
        width: 60px;
        font-weight: 800;
        overflow: hidden;
        z-index: 2;
        position: relative;
        margin-right: -3.8rem;
        transition: margin-right 500ms ease-in-out;
        //animation: valid-reverse 800ms linear both;
        & .fa-check-circle {
            text-align: center;
            padding: 1.5rem;
            color: white;
            height: 100%;
        }    
      }
  }
}

.menusCard:hover .menusCard__animation--valid {
  //animation: valid 800ms linear both;
  margin-right: 0;
}
.menusCard:not(:hover){
  overflow: hidden;
}

.menusCard .menusCard__animation--valid span {
  transform: rotate(-1turn);
  transition: transform 500ms ease-in-out;
}

.menusCard:hover .menusCard__animation--valid span {
  transform: rotate(0turn);
}
.menusCard .menusCard__animation--valid span i {
  font-size: 1.5rem;
}

.menusCard.item1{
  animation: fondu 2s ease-in-out forwards;
}
.menusCard.item2{
  animation: fondu 2.4s ease-in-out forwards;
}
.menusCard.item3{
  animation: fondu 2.6s ease-in-out forwards;
}
.menusCard.item4{
  animation: fondu 2.8s ease-in-out forwards;
}

.buttonMenus {
  @extend %flexbox;
  justify-content: center;
  margin: 30px 0 50px 0;
  .buttonMenus__btn {
    @include btn(
      30px,
      $colorCard,
      linear-gradient($colorSecondary, $colorPrimary)
    );
    border: none;
    box-shadow: 1px 6px 14px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    @include size(150px, 50px);
    &:hover {
      opacity: 0.9;
      box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.3);
    }
  }
}



