@media (max-width: $portable) {
  .menusCard {
    &__content--title{
      font-size: 13px;
    }
  }
  .lineClamp--2 {
    & h3, p{
      -webkit-line-clamp: 2;
    }
  }
}
@media (min-width: $tablet) {
  .reservation__city {
    & input {
      width: 15%;
    }
  }
  .restaurants__popup {
    @include absoluteOrRelative(absolute, auto, auto, 80%, 78%);
  }
  .main {
      padding: 0 2rem 0 2rem;
    }
  .background__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .restaurants__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1439px){
  .container__menusCards{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    & .menusCard {
      width: 320px;
    }
}

@media (min-width: $laptop) {
  .wrapper {
    padding: 0 2rem 0 2rem;
  }
  .restaurants__popup {
    @include absoluteOrRelative(absolute, auto, auto, 80%, 83%);
  }
}
@media (min-width: $desktop) {
  .reservation__city {
    & input {
      width: 10%;
    }
  }
  .restaurants__popup {
    @include absoluteOrRelative(absolute, auto, auto, 80%, 78%);
  }
  .restaurants__row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .container__menusCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
  }
  #footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
