@media (max-width: $portable) {
  .menusCard {
    &__content--title{
      font-size: 12.5px;
    }
  }
  // .lineClamp--2 {
  //   & h3, p{
  //     -webkit-line-clamp: 2;
  //   }
  // }
}
@media (max-width: 425px) {
  .restaurants__popup {
    @include absoluteOrRelative(absolute, auto, auto, 80%, 80%);
  }
}
@media (min-width: $tablet) {
  .reservation__city {
    & input {
      width: 15%;
    }
  }
  .restaurants__popup {
    @include absoluteOrRelative(absolute, auto, auto, 80%, 77%);
  }
  .main {
      padding: 0 2rem 0 2rem;
    }
  .background__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .restaurants__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1439px){
  .container__menusCards{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    & .menusCard {
      width: 320px;
    }
}

@media (min-width: $laptop) {
  .wrapper {
    padding: 0 2rem 0 2rem;
  }
  .restaurants__popup {
    @include absoluteOrRelative(absolute, auto, auto, 80%, 80%);
  }
}
@media (min-width: $desktop) {
  .reservation__city {
    & input {
      width: 10%;
    }
  }
  .fonctionnality{
    padding: 0 5rem 0 5rem;
    &__buttons{
      grid-gap: 3rem;
      &--button{
        width: 80%;
        margin: 0.5rem;
      }
    }
  }
  .restaurants__popup {
    @include absoluteOrRelative(absolute, auto, auto, 80%, 250px);
  }
  .restaurants__row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .container__menusCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
  }
  #footer {
    & .row{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & li:first-child {
        margin-bottom: 0;
        margin-right: 50px;
    }
}

@media (min-width: $desktop4K) {
  .wrapper{
    padding: 0 5rem 0 5rem;
  }
  .fonctionnality{
    padding: 0 5rem 0 5rem;
    &__buttons{
      &--button{
        display: flex;
        justify-content: center;
        margin: 0.5rem;
      }
    }
  }
  .restaurants{
    padding: 2rem 5rem 2rem 5rem;
    &__row{
      grid-gap: 5rem;
    }
  }
  .restaurants__popup {
    @include absoluteOrRelative(absolute, auto, auto, 80%, 83%);
  }
  .main {
    padding: 0 5rem 0 5rem;
  }
  .menus{
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .container__menusCards{
    grid-gap: 10rem;
  }
}
}
