$fontLogoAndTitle: "Shrikhand";
$fontText: "Roboto";

/* COLOR */
$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;
$colorMap: rgb(214, 214, 214);
$colorContainer: #f2f2f2;
$colorCard:white;
$colorFooter: rgb(41, 34, 41);
$colorTextFooter: white;

/* BREAKPOINTS */
$portable: 330px;
$tablet: 768px;
$laptop: 1100px;
$desktop: 1440px;